@import "global.css";

html,
body {
  height: 100%;
}
.user-component {
  position: relative;
  padding: 60px 20px 10px 20px;
  display: flex;
  align-items: center;
}
.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 15px;
}
.user-component__id {
  font-weight: 600;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
}
.user-component__grade {
  color: gray;
  margin-top: 4px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.user-component__text span {
  color: tomato;
  padding-left: 5px;
}
.continue-watching {
  margin: 25px 0;
  padding: 0 20px;
  padding-bottom: 10px;
}
.continue-watching__card {
  background-color: #37274b;
  padding: 5px;
  border-radius: 15px;
}
.continue-watching__title {
  font-size: 15px;
  display: block;
  margin: 2px 0;
}
.continue-watching__header {
  margin-bottom: 15px;
}
.continue-watching__imges {
  list-style: none;
  display: flex;
  overflow-x: scroll;
}
.continue-watching__imges li {
  margin-left: 5px;
}
.continue-watching__imges img {
  width: 200px;
  height: 120px;
  border-radius: 15px;
}
.wishlist {
  padding: 0 20px;
}

.wishlist__header {
  border-top: 1px solid var(--border-color);
  padding-top: 15px;
  margin-bottom: 10px;
}

.wishlist-item {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkpurple);
  padding: 7px;
  border-radius: 15px;
}

.wishlist-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.wishlist__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-repeat: no-repeat;
}
.wishlist__title {
  font-size: 1.2rem;
}
.wishlist__subtitle {
  font-size: 0.9rem;
}
.wishlist-play-btn span {
  background-color: var(--purple);
  border-radius: 50%;
  opacity: 0.7;
  font-size: 3rem;
}
