.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: var(--background-purple);
}
.status-bar__clock {
  font-size: 20px;
}
